@page "{stireId:int}"
@model WebApplication1.Pages.StireModel

@{
    ViewData["Title"] = "Detalii Știre";
}

<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">@Model.Stire.Titlu</h2>
            <h6 class="card-subtitle mb-2 text-muted">Adăugat de <strong>@Model.Stire.Autor</strong> la data de <strong>@Model.Stire.DataAdaugarii.ToString("dd/MM/yyyy")</strong> în categoria <strong>@Model.Stire.Categorie.Nume</strong></h6>
            <p class="card-text">@Model.Stire.Lead</p>
            <hr>
            <p class="card-text">@Model.Stire.Lead</p> <!-- Adăugați mai mult conținut de detaliu aici -->

            <a href="/Stiri" class="btn btn-primary mt-3">Întoarce-te la pagina de stiri</a>
        </div>
    </div>
</div>
